<ion-view title="Blog">
  
  <ion-content class="has-header gem-ion-content">
      
      <ion-refresher on-refresh="doRefresh()"></ion-refresher>
      
      <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input style="width:100%" type="text" placeholder="Search" ng-model="searchFilter" ng-change="scrollTop()">
          </label>
           
        </div>  
      <!-- End subheader -->

      <ul class="timeline">
           <li>

                <img src="img/blog/sibad.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Ramadhan ala Siti Badriah</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 23 views &nbsp; <i class="ion-chatbubbles"></i> 5 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> 2 days ago</span>
                    </div>
                </div>
        
            </li>
          
            <li href="#/home/blog">
                <img src="img/blog/artist-zaskia.png" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Langsing terbaru ala Zaskia</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 19 views &nbsp; <i class="ion-chatbubbles"></i> 2 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> 3 days ago</span>
                    </div>
                </div>
            </li>

            <li>
                <img src="img/blog/bebizie.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Merawat Payudara ala Bebizie</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 57 views &nbsp; <i class="ion-chatbubbles"></i> 15 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> 3 days ago</span>
                    </div>
                </div>
            </li>

        </ul>

      <!-- Title separator -->
      <div class="separator-title"><i class="ion-ios-calendar"></i> Desember, 2015</div>
      <!-- End Title separator -->


      <ul class="timeline">
            <li>

                <img src="img/blog/badai.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Memilih Keyboard Bersama Badai</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 23 views &nbsp; <i class="ion-chatbubbles"></i> 5 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Dec 25, 2015</span>
                    </div>
                </div>

            </li>

            <li href="#/home/blog">
                <img src="img/blog/artist-zaskia.png" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Langsing terbaru ala Zaskia</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 19 views &nbsp; <i class="ion-chatbubbles"></i> 2 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Dec 11, 2015</span>
                    </div>
                </div>
            </li>

            <li>
                <img src="img/blog/bebizie.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Merawat Payudara ala Bebizie</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 57 views &nbsp; <i class="ion-chatbubbles"></i> 15 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Dec 9, 2015</span>
                    </div>
                </div>
            </li>

        </ul>
      
      <div class="separator-title"><i class="ion-ios-calendar"></i> November, 2015</div>
      
      <ul class="timeline">
            <li>

                <img src="img/blog/sibad.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Ramadhan ala Siti Badriah</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 33 views &nbsp; <i class="ion-chatbubbles"></i> 7 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Nov 30, 2015</span>
                    </div>
                </div>

            </li>

            <li href="#/home/blog">
                <img src="img/blog/artist-zaskia.png" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Langsing terbaru ala Zaskia</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 29 views &nbsp; <i class="ion-chatbubbles"></i> 3 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Nov 25, 2015</span>
                    </div>
                </div>
            </li>

            <li>
                <img src="img/blog/bebizie.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Merawat Payudara ala Bebizie</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 17 views &nbsp; <i class="ion-chatbubbles"></i> 0 comment
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Nov 19, 2015</span>
                    </div>
                </div>
            </li>

        </ul>
      
  </ion-content>
</ion-view>
