<ion-view style="" title="<img id='n-logo' src='img/n-logo.png'>">
    

    <ion-content class="has-header gem-ion-content">

        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        
        <section id="searchbox">
            <h1>Over +300 Individual Band/Artist Biographies</h1>
            <div id="search">
                <form id="form-search">
                    <input type="text" placeholder="Siapa artis favoritmu?">
                    <button type="submit">Search</button>
                </form>
            </div>
        </section>
        
        <div class="separator-title"><i class="ion-star orange"></i> Popular Artists - 2016</div>

        <ul class="timeline">

            <li>
                <img src="img/artist/popular/zaskia.jpg" alt="" class="timeline-thumb">

                <div class="timeline-item">
                    <h5 class="bold">Zaskia Gotik</h5>
                    <p>1 jam saja - Dangdut house musik</p>
                    <div class="timeline-stats">
                        <i class="ion-heart"></i> 125
                        <span class="pos-absolute-right">March 2014</span>
                    </div>
                </div>
            </li>

            <li>
                <img src="img/artist/popular/delon.jpg" alt="" class="timeline-thumb">

                <div class="timeline-item">
                    <h5 class="bold">Delon</h5>
                    <p>Widuri - pop</p>
                    <div class="timeline-stats">
                        <i class="ion-heart"></i> 103
                        <span class="pos-absolute-right">October 2015</span>
                    </div>
                </div>
            </li>

            <li>
                <img src="img/artist/popular/duo-anggrek.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Duo Anggrek</h5>
                    <p>Cikini Gondangdia - DanceDut</p>
                    <div class="timeline-stats">
                        <i class="ion-heart"></i> 23
                        <span class="pos-absolute-right">January 2015</span>
                    </div>
                </div>
            </li>
            
            <li>
                <img src="img/artist/popular/kerispatih.png" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Kerispatih</h5>
                    <p>Menyerah Dihadapan Cinta - pop</p>
                    <div class="timeline-stats">
                        <i class="ion-heart"></i> 15
                        <span class="pos-absolute-right">October 2014</span>
                    </div>
                </div>
            </li>
            
            <li>
                <img src="img/artist/popular/siti-badriah.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Siti Badriah</h5>
                    <p>Abg Tua - Dangdut</p>
                    <div class="timeline-stats">
                        <i class="ion-heart"></i> 15
                        <span class="pos-absolute-right">march 2015</span>
                    </div>
                </div>
            </li>

        </ul>

        <div class="separator-title"><i class="ion-ios-lightbulb orange"></i> Tips Of The Day</div>

        <ul class="timeline">
            <li>

                <img src="img/blog/sibad.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Ramadhan ala Siti Badriah</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 23 views &nbsp; <i class="ion-chatbubbles"></i> 5 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Jan 5, 2016</span>
                    </div>
                </div>

            </li>

            <li href="#/home/blog">
                <img src="img/blog/artist-zaskia.png" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Langsing terbaru ala Zaskia</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 19 views &nbsp; <i class="ion-chatbubbles"></i> 2 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> Jan 1, 2016</span>
                    </div>
                </div>
            </li>

            <li>
                <img src="img/blog/bebizie.jpg" alt="" class="timeline-thumb">
                <div class="timeline-item">
                    <h5 class="bold">Tips Merawat Payudara ala Bebizie</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
                    <div class="timeline-stats">
                        <i class="ion-eye"></i> 57 views &nbsp; <i class="ion-chatbubbles"></i> 15 comments
                        <span class="pos-absolute-right"><i class="ion-android-time"></i> dec 21, 2015</span>
                    </div>
                </div>
            </li>

        </ul>
    </ion-content>
</ion-view>

