
<ion-view title="Profile">

  <ion-content class="has-header gem-ion-content" >
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        
        <h3 class="gem-white">Zaskia Gotik</h3>
        <p>"Penyangi Dangdut Itu Mahal, Bukan Kampungan"</p>
        <div class="gem-center">
          Female, 26 Years Old
        </div>
          <div class="gem-center">
          <i class="icon ion-heart"></i> 102 | <i class="icon ion-thumbsup"></i> 45
        </div>
      </div>
      <!-- Background Image -->
      <img src="img/artist/gallery/zaskia2.jpg" alt="" class="fluid-image profile-background-image">
    </div>

    <div class="profile-feed">
        <ion-slide-box show-pager="false" ion-slide-tabs scroll="false">
            <ion-slide ion-slide-tab-label="<i class='ion-clipboard'></i>">

                <div class="title padding">
                  <h5>
                    <b>BIOGRAPHY</b> 
                  </h5>
                </div>

                <div id="contentBio" class="title padding">
        <p>Sosok wanita berawajah cantik bernama Zaskia ini memiliki talenta yang cukup kuat dalam membawakan single bergenre dangdut. Sebelumnya gadis kelahiran Bekasi 24 April 1990 ini dikenal sebagai duo Sinden Imut. Di tahun 2011 ini bersama NAGASWARA, Zaskia kembali bersolo karir membawakan single berjudul " 1 Jam" karya R. Kerta/ Sirwendah.</p>

        <p>"Setelah keluar dari Sinden Imut aku ditawari bang Endang Raes untuk membawakan single ciptaannya yang berjudul 1 Jam, lalu aku dikontrak dengan Nagaswara untuk single itu," ungkap Zaskia.</p>

        <p>Terjun  ke dunia tarik suara, sudah mulai tertanam sejak umur 5 tahun, namun, ia baru mulai bernyanyi professional ketika menduduki kelas 1 SMP. Berawal dari mulai mencoba mengikuti berbagai ajang lomba nyanyi hingga manggung dari satu cafe ke cafe.</p>

        <p>“Saya tidak mempelajari secara khusus teknik bernyanyi semisal kursus atau lainnya, saya bisa nyanyi belajar sendiri, paling belajar sama tante yang kebetulan kerja di sebuah cafe,” tambah Zaskia.</p>

        <p>Single 1 Jam karya R. Kerta/ Sirwendah ini sendiri bercerita tentang sepasang kekasih yang lama berpisah dan tengah dimabuk rindu. Harapan dari si wanita bertemu dengan pasangannya adalah impian yang sudah lama ia tunggu. Meski satu jam saja, rasa rindu juga rasa kangen sepasang kekasih ini terpuaskan dengan belaian dan cumbu rayu dari pasangannya.</p>

        <p>Seperti musik funkot pada umumnya, single “Satu Jam” menyimpan kekuatan pada paduan lirik – lirik nakal, menggelitik yang akan mudah di ingat. “Kepuasan yang paling mengesankan buat saya sebagai seorang penyanyi, adalah ketika sedang berada di atas pentas, bernyanyi sambil menghibur seluruh penonton yang ada”, ungkapnya tentang  kepuasannya menjadi seorang penyanyi.</p>

        <p>Menurut Zaskia, dalam penampilan single 1 Jam bersama Nagaswara ia akan tampil dengan gaya glamour dengan nuansa Jepang, Korea atau oriental. Menurutnya, penampilan bergaya oriental , Korea atau Jepang saat ini tengah menjadi tren.</p>

                        <p>"Mudah-mudahan  single 1 Jam yang aku nyanyikan bisa diterima dengan baik oleh penikmat musik Indonesia, terutama bergenre dangdut, harap Zaskia.</p>
                    </div>
            </ion-slide>
            
            <ion-slide ion-slide-tab-label="<i class='ion-images'></i>">
                <div class="title">
                  <h5><b>GALLERY</b> </h5>
                </div>

                <div class="gem-gallery row row-wrap">
                  <div class="col-33 thumb"><img src="img/artist/gallery/zaskia.jpg" alt=""></div>
                  <div class="col-33 thumb"><img src="img/artist/gallery/zaskia2.jpg" alt=""></div>
                  <div class="col-33 thumb"><img src="img/artist/gallery/zaskia3.jpg" alt=""></div>
                    <div class="col-33 thumb"><img src="img/artist/gallery/zaskia.jpg" alt=""></div>
                  <div class="col-33 thumb"><img src="img/artist/gallery/zaskia2.jpg" alt=""></div>
                  <div class="col-33 thumb"><img src="img/artist/gallery/zaskia3.jpg" alt=""></div>
                </div>

            </ion-slide>
            
            <ion-slide ion-slide-tab-label="<i class='ion-information-circled'></i>">
                <div class="title padding">
                  <h5><b>DETAIL INFO</b></h5>
                </div>
                <div id="information" class="title padding">
                    <div class="infoLeft">Birth Name</div><div class="infoRight">Zaskia</div>
                    <div class="infoLeft">Also Known As</div><div class="infoRight">Zaskia Gotik</div>
                    <div class="infoLeft">Born</div><div class="infoRight">24 April, 1990</div>
                    <div class="infoLeft">Origin</div><div class="infoRight">Indonesia</div>
                    <div class="infoLeft">Genre</div><div class="infoRight">Dangdut House Musik</div>
                    <div class="infoLeft">Occupation(s)</div><div class="infoRight">Singer, Actor</div>
                    <div class="infoLeft">Instruments</div><div class="infoRight"> - </div>
                    <div class="infoLeft">Years Active</div><div class="infoRight">October, 2012</div>
                    <div class="infoLeft">Label</div><div class="infoRight">Nagaswara</div>
                    <div class="infoLeft">Associated</div><div class="infoRight"> - </div>
                    <div class="infoLeft">Act</div><div class="infoRight"> - </div>

                </div>
            </ion-slide>
            
            <ion-slide ion-slide-tab-label="<i class='ion-music-note'></i>">
                <div class="title padding">
                  <h5>
                    <b>DISCOGRAPHY</b> 
                  </h5>
                </div>

                <div class="kotak padding">

                    <div class="kolom1">Year</div><div class="kolom2">Album</div><div class="kolom3">Song</div>
                    <div class="isikolom1">2015</div><div class="isikolom2">Zaskia</div>
                    <div class="isikolom3">
                            Ramadhan
                        <p>Cintaku Karena Allah</p>
                        <p>Bang Toyib Kawin Lagi</p>
                    </div>

                    <div class="isikolom1">2014</div><div class="isikolom2">Zaskia</div>
                    <div class="isikolom3">
                            Tarik Selimut
                        <p>Hey Mas Bro</p>
                        <p>Bang Jono</p>
                    </div>

                    <div class="isikolom1">2013</div><div class="isikolom2">Zaskia</div>
                    <div class="isikolom3">
                           Cukup Satu Menit
                        <p>Sudah Cukup Sudah</p>
                    </div>

                    <div class="isikolom1">2012</div><div class="isikolom2">Zaskia</div>
                    <div class="isikolom3">
                           Ajari Aku Tuhan
                        <p>1 Jam Saja</p>
                    </div>

                </div>
                
            </ion-slide>
        

        
        <!--<ion-slide ion-slide-tab-label="<i class='ion-film-marker'></i>">
            
            <div class="title padding">
              <h5>
                <b>FILMOGRAPHY</b> 
              </h5>
            </div>
        
            <div class="kotak padding">
                <div class="kolom1">Year</div>
                <div class="kolom2">Film</div>
                <div class="kolom1">Role</div>
                <div class="kolomakhir">Notes</div>
                <div class="isikolom1">-</div>
                <div class="isikolom2">-</div>
                <div class="isikolom1">-</div>
                <div class="isikolomakhir">-</div>

                <div class="isikolom1">-</div>
                <div class="isikolom2">-</div>
                <div class="isikolom1">-</div>
                <div class="isikolomakhir">-</div>

            </div>

            </ion-slide> -->
            
         <ion-slide ion-slide-tab-label="<i class='ion-ribbon-b'></i>">
            

 
        <div class="title padding">
          <h5>
             <b>AWARDS</b> 
          </h5>
        </div>
        
        <div class="kotak padding">
            
            <div class="isikolom1">2015</div><div class="isikolom2">Sahabat Music Awards Smartone 2015</div>
            <div class="isikolom3">The Most Dangdut Female Popular 2015</div>
            
            <div class="isikolom1">2015</div><div class="isikolom2">Indonesian Dangdut Awards 2015</div>
            <div class="isikolom3">Kostum Terbaik, Penampilan Terbaik, dan Video Klip Terbaik</div>
            
            <div class="isikolom1">2014</div><div class="isikolom2">Inbox Awards 2014</div>
            <div class="isikolom3">Penyanyi Dangdut Wanita Paling Inbox</div>
            
            <div class="isikolom1">2014</div><div class="isikolom2">Insert Awards 2014</div>
            <div class="isikolom3">Sexiest Female Celebrity</div>
            
            <div class="isikolom1">2014</div><div class="isikolom2">YKS Romantic Award 2014</div>
            <div class="isikolom3">Bintang Tamu Teraduhai</div>
            
        </div>
            </ion-slide>
        
     </ion-slide-box>   
        
        
         
        
        
        



      </div>
  </ion-content>
</ion-view>
